.task-content {
  margin-top: 20px;
}

.task-content form {
  display: block;
}

.task-content form input,
.task-content form button {
  display: block;
  padding: 10px;
  font-size: 16px;
  outline: 0;
}

.task-content form input[type='text'] {
  width: 80%;
  float: left;
  border: 1px solid #dddddd;
}

.task-content form button[type='submit'] {
  width: 10%;
  float: right;
  font-size: 18px;

  background-color: #888888;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.task-content form button[type='submit']:hover {
  background-color: #1063a7;
}

input[type='text']:focus {
  box-shadow: 0 0 5px rgb(75, 243, 83);
  border: 1px solid rgb(81, 238, 81);
}

.search-box {
  border-radius: 20px;
}

.task-tab {
  margin-top: 30px;
  background-color: #b3b8bb;
}

.task-tab button {
  width: 33.333333%;
  display: block;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  height: 100%;
  float: left;
  padding: 10px;
  font-size: 16px;
  outline: 0;
}

.task-tab button:hover {
  background-color: #c8ccce;
}

.task-tab button.active {
  background-color: #929799;
}
